<!-- 管理画面参考デザイン -->
<!-- https://getbootstrap.jp/docs/4.3/examples/dashboard/ -->
<!-- https://dribbble.com/shots/7951065-Backup-management-tool?utm_campaign=pinterest_shot&utm_medium=Social_Share&utm_source=pinterest&utm_content=Backup+management+tool-->

<div class='wrapper'>
  <div class="left-sidebar">
    <div class='logo'>
      <%= image_tag 'admin/logo_test.svg', class: 'logo_img' %>
    </div>
    <div class='left-sidebar__contents'>
      <div class='left-sidebar__content'>
        トップ画面
      </div>
      <div class='left-sidebar__content'>
        詳細画面
      </div>
    </div>
  </div>
  <div class='header'>
    <div class='search'>
      <div class=''>検索ボックスが入る予定です。</div>
    </div>
    <div class='breadcrumb'>
      <div class=''>パンくずが入る予定です。。</div>
    </div>
  </div>
  <div class='main'>
    <div class='contents'>
      <div class='content'>
        <div class='item'>
          <div class='transportation_expenses'>2021-03</div>
        </div>
      </div>
            <div class='content'>
        <div class='item'>
          <div class='transportation_expenses'>2021-03</div>
        </div>
      </div>
    </div>
  </div>
</div>

