// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif !important;
}

.wrapper{
  width: 100vw;
  height: 100vh;
}
.header{
  width: calc(100% - 200px);
  height: 60px;
  border-bottom: solid 1px #C0C0C0;
  float: left;
}
.left-sidebar{
  width: 200px;
  height: 100%;
  background-color: #66CCFF;
  float: left;
}
.breadcrumb-area{
  margin: 0 30px;
  height: 50px;
  width: 400px; 
}
.breadcrumb{
  height: 100%;
  width: 100%;
  margin: 0 !important;
}
.breadcrumb-item{
  margin: 15px 0; // 上下中央にできない。仕方なくmarginで調整。
}
.left_icon{
  height: 13px;
  width: 13px;
  margin: 20px 10px; // 上下中央にできない。仕方なくmarginで調整。
}
.main{
  width: calc(100% - 200px);
  height: calc(100% - 130px);
  // background-color: gray;
  float: left;
  overflow: scroll;
}
.contents{
  width: calc(100% - 120px);
  // background-color: yellow;
  margin-right: auto;
  margin-left: auto;
}
.content{
  // background-color: silver;
  height: 60px;
  width: calc(100% - 10px);
  margin: 10px 5px;
  position: relative;
}
.item{
  height: 100%;
  width: 100%;
  // background-color:teal;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  // 子要素を上下中央にする。
  display: flex;
  align-items: center;
}
.transportation_expenses{
  // background-color:lime;
  width: 1000px;
  height: 50px;
  // 子要素を上下中央にする。
  display: flex;
  align-items: center;
}

.logo_img{
  width: 80p;
  height: 80px;
  margin: 30px;
}

.left-sidebar__content{
  padding: 5px 0 5px 40px;
  color: white;
}

.search-area{
  height: 50px;
  margin: 15px 30px 5px;
}
.search-box{
  border: solid 1px #C0C0C0;
  height: 45px;
  width: 600px;
  border-radius: 5px;
}


